body {
    margin: 0;
    overflow: hidden;
}

.wrapper__gallery {
    transform-style: preserve-3d;
    margin: 0;
    overflow: hidden;
    perspective: 1200px;
    height: 100vh;
    width: 100%;
}

.wrapper__gallery img {
    transform-origin: center;
    box-shadow: 0 0 12px 12px rgb(0 0 0 / 40%);
    position: relative;
    height: 50vh;
}